@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#title {
  margin-bottom: 0;
  margin-top: 0;
}

#winner-div {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
  text-align: center;
}

#start-game-div {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
  text-align: center;
}

#rotate-ship-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 0vh;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 100px;
  text-align: center;
}

#gameboards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  margin-top: 0;
}

#player1-gameboard {
  width: 420px;
  height: 420px;
  border: 3px solid blue;
}

#comp-gameboard {
  width: 420px;
  height: 420px;
  border: 3px solid red;
}

.player-name {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.control-button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 1.1em;
}

.control-button:hover {
  background-color: #555555;
  color: white;
}

.grid-cell {
  width: 40px;
  height: 40px;
  border: 1px solid white;

  display: inline-block;
  vertical-align: middle;
}

.ship {
  background-color: steelblue;
}

.default {
  background-color: lightgrey;
}

.hit {
  background-color: lightcoral;
}

.sunk {
  background-color: red;
}

.miss {
  background-color: grey;
}

.preview {
  background-color: lightgreen;
}
